body {
    background-color:black;
}

h1, p, h2 {
    color:red;
    font-family:sans-serif;
}

.navbar {
    background-color:black;
    display:block;
    margin:auto;
}

.secondheader {
    font-size:300%;
}

h2 {
    font-size:200%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  font-family:sans-serif;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color:white;
}

img {
  padding: inherit;
  margin:auto;
  display: block;
}

.centerthis {
    text-align:center;
}


#title {
    font-size: 90px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 6s steps(12) infinite alternate,
        blink 400ms steps(12) infinite normal;
    border-right: 10px solid black;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}

@keyframes blink {
    from {
        border-color: black;
    }

    to {
        border-color: transparent;
    }
}